---
layout: page
title: ODck
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Álvaro "ODck" Pérez. <br> Game Developer</h1>
          <p class="animated fadeInUp">I just say do what you love. I loved every minute of what I did. If you don't love what you do, what do you have?</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Me</h2>
            <p>My name is Álvaro Pérez, also known as ODck and I made my first game with 14 years old, never stopped since then. I've not only made games, but all kinds of programs and servers. I'm now focused on mobile platforms, but who knows what the future will be. </p>
          </div>
          <p>I love my work, but I always have a side-project in progress. I love music, travel and I am a writer in my spare time. I also like cybersecurity and I'm up to date in that matter. </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>MY EXPERIENCE</h2>
      <p>I've been working since I left university. I made great friends and met great people in the process.</p>
      <p>I develop applications, web pages, databases and PC or mobile software. I have several games published in the play store and I currently work at Hypeful as a front and back end programmer and engineer. I have created a realtime engine in javascript, and a system to streamline live-ops and analytics.</p>
      <a href="{{ site.baseurl }}/work/" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Services</h2>
        <p>What tools do I use? I use Unity for video games, and I am passionate about .NET. But I know other frameworks and languages including Java, JavaScript, Python, C++</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
            <i class="fab fa-unity"></i>
          <h4>Game Development</h4>
          <p>Unity. A powerful, fast, and flexible platform in which you can iterate and deliver faster.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fab fa-aws"></i>
          <h4>Web Services</h4>
          <p>Providing services for web, servers, analytics and databases.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fab fa-dev"></i>
          <h4>App Design</h4>
          <p>Apps, software and project management.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-mobile"></i>
          <h4>Mobile</h4>
          <p>Mobile apps, Android and iOs development.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
{% include talk.html %}
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Social Media</h2>
        <p>Find out all my news by following me on social networks.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Instagram</h2>
        <!-- LightWidget WIDGET -->
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/6d1197060420594084e0863d5079c025.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

        <!--{% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}-->
      </div>
      <div class="col-md-6">
        <a class="twitter-timeline" data-height="480" href="https://twitter.com/ODck_?ref_src=twsrc%5Etfw">Tweets by ODck_</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>        <!--{% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}-->
      </div>
    </div>
  </div>
</section>