<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              <span style="font-size: large;">ODck</span>
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                {% for item in site.data.navigation.menu %}
                <!-- If has submenues -->
                {% if item.submenu %}
                <li class="dropdown">
                  <a class="dropdown-toggle"	data-toggle="dropdown" href="#">
                    {{item.name}}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    {% for subitem in item.submenu %}
                    <li>
                      <a href="{{subitem.link}}">
                        {% if subitem.icon %}
                        <i class="fa fa-inverse fa-{{subitem.icon}} fa-2x"></i>
                        {% endif %}
                        {{subitem.name}}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li><a href="{{item.link}}">{{item.name}}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
