<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Let's talk!</h2>
                    <p>I am open to meeting people within the industry and I am looking forward to knowing what you are working on.</p>
                    <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Tell Us Your Story</a>
                </div>
            </div>
        </div>
    </div>
</section>